<div class="small-container center-block">
  <h3>Edit profile</h3>

  <%= form_with(model: current_user, local: true) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= link_to "Back", profile_users_path, class: "btn btn-secondary mt-2" %>
      <%= f.submit "Save", class: "btn btn-primary mt-2" %>
    </div>
  <% end %>
</div>