<div class="card padding margin-top">
    <h5 class="text-uppercase"><%= article.title %></h5>
    <p class="text-secondary">Author: <strong><%= article.user.email %></strong></p>
    <div>
        <p class="text-secondary">Categories:
            <% article.categories.each do |category| %>
                <span class="badge badge-pill" style="background-color:<%= category.color %>">
                    <%= link_to category.title, category, class: "text-white" %>
                </span>
            <% end %>
        </p>
    </div>
    <p class="text-secondary">Date: <%= article.created_at %></p>
    <%= link_to "See more", article %>
</div>