<div class="large-container center-block">
    <h3><%=@article.title%></h3>
    <p class="text-secondary">Author: <strong><%= @article.user.email %></strong></p>

    <div>
        <p class="text-secondary">Categories:
            <% @article.categories.each do |category| %>
                <span class="badge badge-pill" style="background-color:<%= category.color %>">
                    <%= link_to category.title, category, class: "text-white" %>
                </span>
            <% end %>
        </p>
    </div>

    <div class="mb-2">
        <%= @article.content %>
    </div>

    <div>
        <%=link_to "Back", articles_path %>

        <% if user_signed_in? %>
                <span class="mx-2">|</span>
                <%=link_to "Edit", edit_article_path %>
                <span class="mx-2">|</span>
                <%=link_to "Delete", @article, method: :delete, class: "text-danger" %>
        <% end %>
    </div>
</div>